<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        HTTPantry Testing
    </h1>
    <div class='panel-heading'>
            {{pageTitle}}
    </div>
    <h3>{{time/100}} seconds</h3>
    <p-button label="Load Image"
        *ngIf="!hasImage"
        (onClick)='showImage()'></p-button>
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
    <p *ngIf="isLoading"></p>
    <img [src]="fileURL"
        *ngIf="hasImage"
        height="1000"
        (load)="imageLoad()">
</div>